<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Weather Now App</title>
    <link rel="stylesheet" type="text/css" href="/css/custom.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <h1>Weather Now</h1>
      </div>
    </div>
    <div class="container">
      <div class="row mx-auto justify-content-center">
          <div class="container col-12 text-center">
                <fieldset>
                  <form action="/" method="post">
                    <input name="city" type="text" class="ghost-input" placeholder="Give me a City!" style="text-align: center" required>
                    <br>
                    <input type="submit" class="ghost-button" value="Get Weather Now">
                  </form>
                  <% if(weather !== null){ %>
                    <p><%= weather %></p>
                  <% } %>
                  <% if(error !== null){ %>
                    <p><%= error %></p>
                  <% } %>
                </fieldset>
          </div>
      </div>
    </div>
    <div class="container">
      <div class="row mx-auto">
        <div class="container col-4">
          <h3>First</h3>
        </div>
        <div class="container col-4">
          <h3>Second</h3>
        </div>
        <div class="container col-4">
          <h3>Third</h3>
        </div>
      </div>
    </div>
  </body>
</html>
